*{
  --elementBgColor: white;
  --bg : #a8dadc;
  --itemBgColor : #07c7c7;
  --btnBackgroundColor : #118ab2;
}

body{
  overflow-x: hidden !important;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}



wrapper{
  min-height: 100vh;/* Force footer to bottopm of page */
}

.ListItem{
  background-color: var(--itemBgColor);
  height:330px;
}



.btn-primary{
  background-color: var(--btnBackgroundColor) !important;
}
